<div *ngIf="hero" class="container mt-4">
    <h2>{{ hero.spName }}</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="heroName">Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="heroName" [(ngModel)]="hero.spName" placeholder="Super Hero name">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="firstName">First Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="firstName" [(ngModel)]="hero.firstName" placeholder="Super Hero First Name">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lastName">Last Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="lastName" [(ngModel)]="hero.lastName" placeholder="Super Hero Last Name">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="origin">Origins:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="origin" [(ngModel)]="hero.origin" placeholder="Super Hero Origins">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <button class="btn btn-primary mr-2" (click)="updateHero(hero)" *ngIf="hero.id" style="margin: 21px;">Save</button>
            <button class="btn btn-danger mr-2" (click)="deleteHero(hero)" *ngIf="hero.id">Delete</button>
            <button class="btn btn-secondary mr-2" (click)="cancelHero(hero)" style="margin: 21px;">Cancel</button>
            <button class="btn btn-success" (click)="createHero(hero)" *ngIf="!hero.id">Create</button>
        </div>
    </div>
</div>
